<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Use Case 1
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">KI Technologie/-ansätze</h5>

        <p></p>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Radar Chart</nb-card-header>
      <nb-card-body>
        <ngx-charts-polar-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [labelTrim]="labelTrim"
          [legendPosition]="legendPosition">
        </ngx-charts-polar-chart>


