<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Use Case 2
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">Kompetenzträger bestimmter KI-Technologien</h5>

        <p></p>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Gauge Chart<br>
        KI Technologie: Deep Learning
      </nb-card-header>
      <nb-card-body>
        <p>Bitte wähle zuerst eine Option aus:</p>
        <nb-select placeholder="Select Entry" [(selected)]="selectedItem" (selectedChange)="changeData($event)">
          <nb-option *ngFor="let o of service.series2Data$ | async" [value]="o.name">{{ o.name }}</nb-option>
        </nb-select>
        <ngx-charts-gauge
            [view]="view"
            [scheme]="colorScheme"
            [results]="series1"
            [legend]="legend"
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            (select)="onSelect($event)"
            >
            <!-- (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"> -->
        </ngx-charts-gauge>
      </nb-card-body>
    </nb-card>
  </div>
</div>
