<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Use Case 1
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">KI Technologie/-ansätze</h5>
        <br>
        <div>
          <!-- <p *ngFor="let item of technologydatas">Technologie: {{item.parameter_1.value}} | Applikationsfeld: {{item.parameter_2.value}} | Häufigkeit der Nennung: {{item.parameter_3.value}}</p> -->
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <nb-card>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="service.series1Data$ | async"> </ng2-smart-table>
    </nb-card-body>
  </nb-card>



