<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Use Case 1
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">KI Technologie/-ansätze</h5>

        <p>test test test</p>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="container">
  <ngx-charts-line-chart
    [results]="data"
    [xAxis]="true"
    [scheme]="colorScheme"
    [showGridLines]="false">
  </ngx-charts-line-chart>
  </div>

