<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Use Case 2
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">Kompetenzträger bestimmter KI-Technologien</h5>

        <p></p>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Grouped Bar Chart</nb-card-header>
      <nb-card-body>
        <ngx-charts-bar-vertical-2d
          [view]="view"
          [scheme]="colorScheme"
          [results]="service.result"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-vertical-2d>
      </nb-card-body>
    </nb-card>
  </div>
