<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Use Case 1
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">KI-Technologie/-ansätze</h5>

        <p>Auswertung von wissenschaftlichen Veröffentlichungen / Papers </p>
        <p> <b>Beispielhafte Fragestellungen:</b> In welcher Branche/ Applikationsfeld werden KI-Technologien besonders stark eingesetzt?</p>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Use Case 2
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">Kompentenzträger bestimmter KI-Technologien</h5>
        <p> <b>Beispielhafte Fragestellungen:</b> Wie häufig wurden bestimmte Firmen / Organisation mit speziellen KI-Ansätzen genannt?</p>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Use Case 3
      </nb-card-header>
      <nb-card-body>

        <h5 class="grid-h">Förderdatenbank vom Bund</h5>

        <p>Daten zu geförderten Projekten des BMI</p>
        <p> <b>Beispielhafte Fragestellungen:</b> Welche Organisation bekommt wie viel Geld?<br>
          Welche Unternehmen haben gemeinsame Projekte?<br>
          Wie viel Fördergeld ist in ein bestimmtes Themengebiet geflossen?<br>
          Welche Bundesländer sind Technologiefrührend?
          </p>


      </nb-card-body>
    </nb-card>
  </div>
</div>
